/Library/
/Temp/
/obj/Debug/
/UnityPackageManager/
/Assembly-CSharp.csproj
/StrategyGame.csproj
/StrategyGame.Editor.csproj
/StrategyGame.Plugins.csproj
/StrategyGame.sln
/Packages/
/SourceArt/
/.vs/
/Unity.PackageManagerUI.Editor.csproj
*.csproj
/~$$HexExperiment.~vsdx
/HexExperiment.vsdx
/~$$HexExperiment2.~vsdx
/HexExperiment2.vsdx
/Visio
