/Library/
/Temp/
/obj/Debug/
/UnityPackageManager/
/Packages/
/SourceArt/
*.vs/

/Unity.PackageManagerUI.Editor.csproj
*.csproj
*.sln
/~$$HexExperiment.~vsdx
/HexExperiment.vsdx
/~$$HexExperiment2.~vsdx
/HexExperiment2.vsdx
/Visio
/Builds
/Logs

/StolenThronesCombatPrototype/Library/
/StolenThronesCombatPrototype/Logs/
/StolenThronesCombatPrototype/Obj/
/StolenThronesCombatPrototype/Packages/